<% @videos.each do |video| %>
  <div class="row">
    <div class="card mb-8 border-0">
      <div class="row no-gutters">
        <div class="col-md-4">
          <div class="card-body">
            <iframe width="280" height="180"
            src="https://www.youtube.com/embed/<%= video.uid %>">
            </iframe>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= video.title %></h5>
            <p>Shared by: <%= video.user&.email %></p>
            <p class="card-text">
              <span>Description: </span></br>
              <%= raw(video.description) %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>