<div class="form-share">
  <fieldset>
    <legend>Share a Youtube movie</legend>
    <div class="container">
    <%= form_with model: @video, id: "share_movie" do |f|%>
      <div class="form-group row">
        <label for="url" class="col-md-2 col-form-label">Youtube Url:</label>
        <div class="col-md-9">
          <input name="video[link]" class="form-control" type="input">
        </div>
      </div>
      <div class="form-group row">
        <label for="share" class="col-md-2 col-form-label"></label>
        <div class="col-md-9">
          <%= f.submit "Share", class: "btn btn-outline-success" %>
        </div>
      </div>
    <% end %>
  </div>
  </fieldset>
  
</div>