<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4" style="padding-top: 20px;">
  <div class="row">
    <div class="card mb-8 border-0">
      <div class="row no-gutters">
        <div class="col-md-4">
          <video src="https://youtu.be/fpaOuBxuR8A" controls>
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>Shared by: someone@gmail.com</p>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card mb-8 border-0">
      <div class="row no-gutters">
        <div class="col-md-4">
          <video src="https://youtu.be/fpaOuBxuR8A" controls>
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>Shared by: someone@gmail.com</p>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
